@import "../shared/helper";

.home {
    width: px(720);
    height: px(406);
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 1px #103852;

    header {
        height: px(30);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #eee;
        font-size: px(15);
        background: linear-gradient(90deg, rgba(8, 24, 35, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(8, 24, 35, 1) 100%);
        position: relative;
        text-shadow: 0 0 10px #1d393d, 0 0 20px #1d393d, 0 0 30px #1d393d, 0 0 40px #1d393d;

        &::before {
            content: '';
            position: absolute;
            height: 1px;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(90deg, rgba(16, 48, 65, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(16, 48, 65, 1) 100%);
        }

        .clock {
            position: absolute;
            left: px(14);
            color: #376c78;

            >div {
                &:first-child {
                    font-size: px(9);
                    margin-bottom: px(1);
                }

                &:nth-child(2) {
                    font-size: px(5)
                }
            }
        }

        .info {
            position: absolute;
            right: 0;
            font-size: px(9);
            color: #6d929d;
            padding: 0 px(13);

            .icon {
                fill: #6d929d;

                &:last-child {
                    margin-left: px(7);
                    transform: scale(1.25);
                }
            }
        }
    }

    main {
        flex: 1;
        height: px(361);
        margin-top: px(15);
        display: grid;
        grid-template:
            ". box1 . box2 . box3" 1fr / 14fr 168fr 28fr 302fr 28fr 168fr 14fr;

        >section {
            border: 1px solid #165374;
            border-radius: 4px;
            position: relative;
            box-shadow: 0 0 2px 0 #0e325f, inset 0 0 2px 0 #0e325f;
            background: rgba(31, 59, 70, 0.35);


            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                border-radius: 4px;
                box-shadow: 17px 0 0 -16px #0e325f,
                    -17px 0 0 -16px #0e325f,
                    0 17px 0 -16px #0e325f,
                    0 -17px 0 -16px #0e325f,
                    9px 0 0 -8px #0d4483,
                    -9px 0 0 -8px #0d4483,
                    0 9px 0 -8px #0d4483,
                    0 -9px 0 -8px #0d4483, ;
            }
        }

        >section {
            text-align: center;
        }

        .bordered {
            border: 1px solid #0764bc;
            border-radius: 4px;
            position: relative;
            box-shadow: 0 0 2px 0 #0e325f, inset 0 0 2px 0 #0e325f;
            background: #0c1139;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                border-radius: 4px;
                box-shadow: 17px 0 0 -16px #0e325f,
                    -17px 0 0 -16px #0e325f,
                    0 17px 0 -16px #0e325f,
                    0 -17px 0 -16px #0e325f,
                    9px 0 0 -8px #0d4483,
                    -9px 0 0 -8px #0d4483,
                    0 9px 0 -8px #0d4483,
                    0 -9px 0 -8px #0d4483, ;
            }
        }

        .section1 {
            grid-area: box1;

            .chart1 {
                height: px(98);
                display: flex;
                flex-direction: column;
                margin-bottom: px(20);

                >.chart {
                    flex: 1;
                }
            }
        }

        .section2 {
            grid-area: box2;

            .chart {
                height: px(240);
            }

            >p {
                font-size: px(6);
                color: #eee;
                text-align: end;
            }

            >.formWrapper {
                display: flex;
                justify-content: space-between;

                div {
                    margin-top: px(15);
                    width: px(90);
                    height: px(46);
                    border: 1px solid #165374;
                    background: rgba(31, 59, 70, 0.35);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: px(6);
                    color: #aaa;
                    position: relative;

                    p {
                        margin-bottom: px(2);
                        font-size: px(15);
                        color: #eee;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        box-shadow: 7px 0 0 -6px #103852,
                            -7px 0 0 -6px #103852,
                            0 7px 0 -6px #103852,
                            0 -7px 0 -6px #103852, ;
                    }
                }
            }
        }

        .section3 {
            grid-area: box3;
        }


    }
}